.meme-generator{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
 text-align: center;
}
.meme-generator img{
    height: 430px;
    object-fit: cover;
}
.meme-generator .generator-btn{
    padding: 8px 20px;
    /* border: none !important; */
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    margin: 24px 0;
    font-size: 20px;
    color: #a91717;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 400ms ease;
}

.meme-generator.generator-btn:hover{
    padding: 8px 36px;
    border-left: 8px solid #222;
    border-right: 8px solid #222;
    letter-spacing: 2px !important;
}
.meme-author{
    margin:8px;
}